---
---
@import reset.sass
@import fonts/opensans/stylesheet.sass
@import colors.sass

a
  text-decoration: none
  color: $secondary-accent
  &:hover
    color: $tertiary-accent

body
  font-family: 'open_sans'
  background: $background-color
  padding: 0 0 0 300px
  box-sizing: border-box
  font-size: 1rem
.site-header
  color: $background-color
  position: fixed
  width: 300px
  top: 0
  left: 0
  background: $primary-accent
  bottom: 0
  box-sizing: border-box
  padding: 40px
  .logo
    text-align: center
.site-footer
  position: fixed
  width: 300px
  left: 0
  bottom: 0
  box-sizing: border-box
  padding: 20px
.site-header, .site-footer
  & a
    color: $background-color
    &:hover
      color: $tertiary-accent
  & path
    fill: currentColor
.post-list
  padding: 40px 50px
  ul
    padding-left: 20px
  li
    list-style: none
  h1
    text-transform: uppercase
    font-size: 40px
    color: $primary-accent
    margin-bottom: 20px
  time
    color: $subdued
    font-size: 0.8rem
.social-links
  text-align: center
  ul
    list-style: none
  li
    display: inline-block
    margin: 0 10px
.videoWrapper
  position: relative
  padding-bottom: 56.25%
  padding-top: 25px
  height: 0
  iframe
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
