---
---
@import reset.sass

.home
  header
    width: 100%
    height: 600px
    background: url('../img/hidden_lake.jpg')
    background-size: cover
    position: relative
    box-sizing: border-box
    padding: 30px
    & > div
      width: 100%
      height: 100%
      background: hsla(205, 83%, 25%, .6)
      position: relative
      margin: 0 auto
