!!! 5
html
	head
		meta(charset = 'utf-8')
		meta('http-equiv' = 'X-UA-Compatible', content = 'IE=edge,chrome=1')
		title Garth Braithwaite
		link(rel="icon", href="/favicon.ico")
		link(rel = 'stylesheet', type = 'text/css', href = '/css/reset.css')
		link(rel = 'stylesheet', type = 'text/css', href = '/css/main.css')
		script(src = 'https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
		script(src = '/js/app.js')
		script(type="text/javascript", src="//use.typekit.net/zya2gfs.js")
		script(type="text/javascript")
			function onload () {
				$('.typekit-badge').attr({src: '/img/typekit_colophon.svg'});
				console.log($('.typekit-badge').attr('src'));
			}
			try{Typekit.load({active: onload});}catch(e){}
		//if lt IE 9
			script(src = 'http://html5shiv.googlecode.com/svn/trunk/html5.js')
		script(type="text/javascript")
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-5471744-1']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
	body
		#content
			#moon
			hgroup
				h1 Garth
				h2 Braithwaite
			nav: ul
				li: a(href='http://www.dribbble.com/garthdb') design
				li: a(href='http://www.github.com/garthdb') code
				li: a(href='http://lanyrd.com/profile/garthdb/') speak
		#footer
			nav: ul
				//- li.dribbble: a(href="http://www.dribbble.com/GarthDB") dribbble
				li.forrst: a(href="http://forrst.me/GarthDB/posts") forrst
				//- li.github: a(href="http://github.com/garthdb") github
				li.twitter: a(href="http://www.twitter.com/GarthDB") twitter
				//- li.tumblr: a(href="http://links.garthdb.com") tumblr
				li.google: a(rel="me", href="https://plus.google.com/110061908980781621401?rel=author") Google+