!!! 5
%html
	%head
		%meta{:charset => 'utf-8'}
		%meta{'http-equiv' => 'X-UA-Compatible', :content => 'IE=edge,chrome=1'}
		%title GarthDB | Articles
		%link{:rel => 'stylesheet', :type => 'text/css', :href => 'css/reset.css'}
		%link{:rel => 'stylesheet', :type => 'text/css', :href => 'css/main.css'}
	%body
		%header.main
			#logo
				%h1
					%a{:href => 'http://www.garthdb.com'} GarthDB
			%nav.main
				%ul
					%li.selected
						%a{:href => '/'} articles
					%li
						%a{:href => 'http://www.garthdb.com/projects'} projects
					%li
						%a{:href => 'http://blog.garthdb.com'} blog
					%li
						%a{:href => 'http://www.garthdb.com/contact'} contact
		#content
			%h2 Table of Contents
			%ol
				%li
					%a{:href => 'how_to_care_for_your_developer/'} How to Care for Your Developer
		%footer.main
			%nav.social
				%ul
					%li.dribbble
						%a{:href => 'http://www.dribbble.com/GarthDB'} dribbble
					%li.forrst
						%a{:href => 'http://forrst.me/GarthDB/posts'} forrst
					%li.twitter
						%a{:href => 'http://www.twitter.com/GarthDB'} twitter
					%li.tumblr
						%a{:href => 'http://links.garthdb.com'} tumblr
					%li.google
						%a{:rel => 'author', :href => 'https://plus.google.com/110061908980781621401?rel=author'} +Garth