!!! 5
html
	head
		meta(charset = 'utf-8')
		link(rel="icon", type="image/png", href="/favicon.png")
		meta('http-equiv' = 'X-UA-Compatible', content = 'IE=edge,chrome=1')
		title Garth Braithwaite | Resumé
		link(rel = 'stylesheet', type = 'text/css', href = '/css/fonts/SourceSansPro/stylesheet.css')
		link(rel = 'stylesheet', type = 'text/css', href = '/css/reset.css')
		link(rel = 'stylesheet', type = 'text/css', href = '/css/main.css')
		script(src = 'https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
		//if lt IE 9
			script(src = '//html5shiv.googlecode.com/svn/trunk/html5.js')
		script(type="text/javascript")
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-5471744-1']);

			(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
	body
		.site
			header.main
				a.logo(href="#"): img(width="43", height="31", src="/img/g.svg", alt="&lt;g&gt;")
				h1 Garth Braithwaite / Interaction Designer
				nav
					ul
						li: a(href="http://garthdb.com/design") design
						li: a(href="http://garthdb.com/garthdb") code
						li: a(href="http://lanyrd.com/profile/garthdb/") speak
						li: a(href="http://garthdb.com/resume") resume
						//- li: a(href="#") write
			#content: #resume
				section.profile
					h2 Profile
					p UX Specialist with 8 years wireframing, designing, and developing contextual applications and responsive websites. Architect with 6 years experience in client and server side programming. Interaction Designer with experience in building scalable web based applications and a dedication to web standards. Technical Lead with version control skills. Experienced technical speaker and writer.
				section.work
					h2 Work History
					.job
						aside
							h3 Senior Experience Designer
							.company: a(href="http://www.adobe.com") Adobe Systems
							.date 2011-Present
						p Developing interaction <a href="http://www.behance.net/gallery/Brackets/6499177">designs</a> and <a href="http://garthdb.github.com/Brackets-UI-Prototypes/">prototypes</a> for <a href="http://www.brackets.io">Brackets</a> and <a href="http://www.adobe.com/products/flex.html">Flex</a>. Interfacing with the Open Source community on experience design.
						p Collaborating with design team on common interface language.
					.job
						aside
							h3 Director of UX
							.company: a(href="http://www.mediarain.com") Rain
							.date 2010-2011
						p Established User Experience workflows with the creative and technology directors. Managed and hired UX professionals
						p Wireframed, sitemaped, and prototyped.
					.job
						aside
							h3 Interaction Engineer
							.company Vision Airlines
							.date 2008-2010
						p Created wireframes and prototypes for internal and public facing tools. Designed application interfaces. Architected Flex applications. Developed back end applications using <a href="http://cakephp.org/">CakePHP</a>. HTML/CSS slicer and dicer.
				section.teaching
					h2 Teaching Experience
					.class
						h3.subject HTML/CSS I & II
						.school: a(href="http://www.unlv.edu/") UNLV
						.date 2008-2009
					.class
						h3.subject Digital Prepress
						.school: a(href="http://itt-tech.edu/") ITT-Tech
						.date Summer 2009
					.class
						h3.subject Adv Web Dev
						.school: a(href="http://byu.edu") BYU
						.date 2004-2006
					.class
						h3.subject Adobe CS
						.school: a(href="http://byu.edu") BYU
						.date 2004-2006
					.clear
				section.education
					h2 Education
					.school
						h3.major: a(href="http://saas.byu.edu/catalog/2011-2012ucat/departments/PhysicsAstronomy/PhysicsTchgMajor.php") Physics Teaching (BS)
						.minor: a(href="http://saas.byu.edu/catalog/2011-2012ucat/departments/Mathematics/MathMinor.php") Mathematics Minor
						.school: a(href="http://byu.edu") Brigham Young University
				section.awards
					h2 Honors &amp; Awards
					.award
						h3.title Mobile of the Day
						.detail Skullcandy, Hess Jet, Sony’s Open Mic
						.organization FWA
					.award
						h3.title Patent
						.detail: a(href="http://www.faqs.org/patents/app/20120198545") System and Method for Providing Digital Content
						.organization United States 20120198545
					.clear
				section.publications
					h2 Publications
					.publication
						h3.title Flex 4 Cookbook
						.role Co Author
						.organization O’Reilly
						.date 2010
					.publication
						h3.title Flex 4 Breakdown
						.role Video Instructor
						.organization O’Reilly
						.date 2010
					.publication
						h3.title RIA Radio
						.role Podcast Host
						.organization InsideRIA
						.date 2009-2011
					.publication
						h3.title Screencasts
						.role Instructor
						.organization InsideRIA
						.date 2009-2011
					.clear
				section.presentations
					h2 Speaking Engagements
					.presentation
						h3.title Rapid HTML
						.event Web Unleashed
						.location Boston, MA
						.date Nov 2012
					.presentation
						h3.title HTML Prototypes
						.event 360|MIN
						.location Las Vegas, NV
						.date Oct 2012
					.presentation
						h3.title Adobe? Open Source?
						.event Reasons to be Creative
						.location Brighton, UK
						.date Sep 2012
					.presentation
						h3.title Why Does UX Rock?
						.event Flash and the City
						.location New York, NY
						.date June 2011
					.presentation
						h3.title Designing Rich User Experiences
						.event Adobe MAX
						.location Los Angeles, CA
						.date Oct 2010
					.presentation
						h3.title Your App Looks Like Poo
						.event 360|Flex
						.location San Jose, CA
						.date Mar 2010
					.clear
				section.skills
					h2 Skills
					p HTML 5, CS, J, Git, Require, Backbone, Nodes, Coffee-script, Stylus, Jade, CakePHP, Mongoloid, MySQL.
					p Illustrator, Photoshop, Fireworks, InDesign.
			footer
				| You know you want to follow me; 
				| 
				a(href="http://dribbble.com/garthdb") Dribbbbbbbbble
				| 
				| and
				| 
				a(href="http://twitter.com/garthdb") Twitter
