footer-height = 30px

html, body
  height 100%
body
  font-family 'Source Sans Pro'
  font-weight 400
  color #333
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)
  body
    font-weight 200
a
  color #4987D5
  text-decoration none
.site
  min-height 100%
  border-top 3px solid #333
  padding-bottom footer-height
  box-sizing border-box
  position relative
.site > footer
  height footer-height
  position fixed
  bottom 0
  width 100%
  background #333
  text-align center
  font-size 12px
  color #AAA
  box-sizing border-box
  padding-top 10px
  font-weight normal
  a
    color #4987D5
    text-decoration none
    &:hover
      text-decoration underline
header.main
  font-size 15px
  width 100%
  position relative
  margin 0 auto
  display -webkit-flex
  display flex
  text-align center
  h1
    font-weight normal
  nav
    li
      display inline-block
      a
        font-weight normal
.logo
  display inline-block
#content > section h2
  font-weight 200
  font-style italic
#content > section
  padding 0 20px
  box-sizing border-box
#designs
  .details
    display none
  ul
    list-style none
    display -webkit-flex
    display flex
    -webkit-flex-wrap wrap
    flex-wrap wrap
    align-items center
    -webkit-align-items center
    justify-content center
    -webkit-justify-content center
  li
    display inline-block
    position relative
#design
  position relative
  text-align center
  aside
    position relative
    display inline-block
    margin-bottom 20px
  header, & .description
    margin-bottom 20px
    text-align left
  ul.gallery
    list-style none
    text-align center
    li
      display inline-block
      a
        margin 5px
        display block
        width 100px
        height 100px
        background-size cover
        background-position center
#code
  ul
    list-style none
    display flex
    flex-wrap wrap
    -webkit-flex-wrap wrap
    li
      display inline-block
      padding 20px 30px
      box-sizing border-box
      a
        color #4987D5
        text-decoration none
        font-weight 200
        font-size 30px
        font-style italic
        &:hover
          text-decoration underline
  header
    margin-bottom 5px
  .description
    margin-bottom 5px
  .updated
    font-size 12px
#speak
  .session
    position relative
    margin 0 auto 60px
    max-width 493px
    width 100%
    border-bottom 1px solid #DBDBDB
    padding-bottom 40px
    &:last-child
      border-bottom none
    aside
      display block
      position relative
      padding-bottom 76%
      padding-top 25px
      height 0
      margin-bottom 20px
      iframe
        position absolute;
        top 0
        left 0
        width 100%
        height 100%
    article
      display block
      vertical-align top
    header
      margin-bottom 10px
    h2
      font-size 40px
    footer
      margin-top 30px
@media only screen and (max-width: 619px)
  header.main
    max-width 760px
    padding 30px 0 0
    flex-direction column
    -webkit-flex-direction column
    h1
      font-weight normal
      padding-top 10px
    nav
      padding 10px 0
      margin 10px 0
      background #F5F5F5
      li
        display inline-block
        margin 0 10px
        a
          font-weight normal
  #content > section h2
    font-size 40px
  #content > section
    padding 30px 20px
  #designs li
    margin 10px
  #design
    padding 50px 20px
  #code
    li
      width 100%
@media only screen and (min-width: 620px)
  a:hover
    text-decoration underline
  a.logo:hover #gpath
    fill #4987D5
  #content > section h2
    font-size 60px
  #content
    max-width 800px
    position relative
    margin 0 auto
    padding 60px 0
  a.logo
    order 2
    -webkit-order 2
    min-width 43px
  header.main
    max-width 800px
    padding 55px 20px 0
    width auto
    box-sizing border-box
    h1
      padding-top 7px
      font-weight 200
      order 1
      -webkit-order 1
      width 100%
      text-align left
    nav
      padding-top 7px
      order 3
      -webkit-order 3
      width 100%
      text-align right
      li
        margin 0 0 0 30px
        margin-left 30px
        &:first-child
          margin-left 0
        a
          text-decoration none
          color #333
          font-weight 200
          &:hover
            border-bottom 1px solid #4987D5
          &.selected
            color #4987D5
  #designs
    margin-top -20px
    .details
      display none
      position absolute
      width 100%
      height 100%
      top 0
      left 0
      background rgba(255,255,255,0.85)
      line-height 32px
    h3
      font-weight 400
      position absolute
      bottom 0
      left 0
      padding 20px
      font-size 36px
    li
      margin 20px
      a
        display block
        position relative
        color #333
        text-align left
        &:hover .details
          display block
  section#design
    padding-left 242px
    text-align left
    display border-box
    aside
      position absolute
      left 20px
      top 0
      display block
    ul.gallery
      text-align left
      li a
        transition: width 0.05s ease-in-out, height 0.05s ease-in-out, margin 0.05s ease-in-out;
        -moz-transition: width 0.05s ease-in-out, height 0.05s ease-in-out, margin 0.05s ease-in-out; /* Firefox 4 */
        -webkit-transition: width 0.05s ease-in-out, height 0.05s ease-in-out, margin 0.05s ease-in-out; /* Safari and Chrome */
        -o-transition: width 0.05s ease-in-out, height 0.05s ease-in-out, margin 0.05s ease-in-out; /* Opera */
        &:hover
          width 110px
          height 110px
          margin 0
  #code
    li
      width 50%
