footer-height = 30px

html, body
	height 100%
body
	font-family 'Source Sans Pro'
	font-weight 200
	color #333
a
	color #4987D5
	text-decoration none
	&:hover
		text-decoration underline

.site
	min-height 100%
	border-top 3px solid #333
	padding-bottom footer-height * 2
	box-sizing border-box
	position relative
header.main
	font-size 15px
	width 100%
	max-width 760px
	text-align center
	padding 100px 0 0
	position relative
	h1
		font-weight normal
		padding-top 10px
	nav
		padding-top 30px
		li
			display inline-block
			margin 0 10px
			a
				font-weight normal
	.logo
		position absolute
		left 50%
		margin-left -21px
		top 52px
.site > footer
	height footer-height * 2
	position absolute
	bottom 0
	width 100%
	background #333
	text-align center
	font-size 15px
	color #999
	box-sizing border-box
	padding-top 15px
	font-weight normal
	span
		display block
	a
		color #4987D5
		text-decoration none
		&:hover
			text-decoration underline
#content
	max-width 600px
	width 100%
	margin 0 auto
	font-size 18px
	& > section
		padding 30px 20px
		box-sizing border-box
		h2
			font-size 40px
			font-weight 200
			font-style italic
#designs
		ul
			list-style none
			text-align center
		li
			display inline-block
			margin 20px
			box-shadow 0 0 2px rgba(0,0,0,0.8)
			height 158px
			a
				display block
				position relative
				color #333
				text-align left
				.details
					display none
					position absolute
					width 100%
					height 100%
					top 0
					left 0
					background rgba(255,255,255,0.8)
				h3
					font-weight 400
					position absolute
					bottom 0
					left 0
					padding 20px
					font-size 36px
				&:hover .details
					display block
		img
			border none
		footer
			padding-top 20px
			text-align center
section#design
	padding 50px 20px
	position relative
	text-align center
	aside
		position relative
		display inline-block
		margin-bottom 20px
	header, & .description
		margin-bottom 20px
		text-align left
	ul.gallery
		list-style none
		text-align center
		li
			display inline-block
			a
				margin 5px
				display block
				width 100px
				height 100px
				background-size cover
				background-position center
				box-shadow 0 0 2px rgba(0,0,0,0.8)
				transition: width 0.05s ease-in-out, height 0.05s ease-in-out, margin 0.05s ease-in-out;
				-moz-transition: width 0.05s ease-in-out, height 0.05s ease-in-out, margin 0.05s ease-in-out; /* Firefox 4 */
				-webkit-transition: width 0.05s ease-in-out, height 0.05s ease-in-out, margin 0.05s ease-in-out; /* Safari and Chrome */
				-o-transition: width 0.05s ease-in-out, height 0.05s ease-in-out, margin 0.05s ease-in-out; /* Opera */
				&:hover
					width 110px
					height 110px
					margin 0

@media only screen and (min-width: 780px)
	.site
		padding-bottom footer-height
	.clear
		clear both
	h1, h2
		font-weight 400

	header.main
		margin 0 auto
		padding 55px 0 0
		text-align center
		width auto
		h1
			float left
			padding-top 5px
			font-weight 200
		nav
			float right
			padding-top 5px
			li
				margin 0 0 0 30px
				margin-left 30px
				&:first-child
					margin-left 0
				a
					text-decoration none
					color #333
					font-weight 200
					&:hover
						border-bottom 1px solid #4987D5
					&.selected
						color #4987D5
	#content
		clear both
		max-width 760px
		width 100%
		min-height 400px
		font-size 18px
		& > section
			padding 100px 0
			h2
				font-size 60px
				font-weight 200
				font-style italic
	section#design
		padding 100px 0 100px 222px
		text-align left
		aside
			position absolute
			left 0
			top 100px
			display block
		ul.gallery
			text-align left
	#resume
		padding-top 100px
		& > section
			margin-bottom 30px
			h2
				font-style italic
				font-size 22px
				font-weight normal
				margin-bottom 10px
			.job
				clear both
				margin-bottom 20px
				aside
					width 200px
					float left
			h3
				font-weight 600
			.class
				width 25%
				float left
			.award
				width 50%
				float left
			.publication
				width 24%
				float left
			.presentation
				width 33%
				float left
				margin-bottom 20px
			&.presentations
				margin-bottom 10px

	#code
		ul
			list-style none
			li
				display inline-block
				width 50%
				min-width 200px
				padding 20px 30px
				box-sizing border-box
				vertical-align top
				a
					color #4987D5
					text-decoration none
					font-weight 400
					font-size 22px
					&:hover
						text-decoration underline
		header
			margin-bottom 5px
		.description
			margin-bottom 5px
		.updated
			font-size 12px
	.site > footer
		height footer-height
		font-size 11px
		padding-top 10px
		span
			display inline
	#speak
		.session
			position relative
			margin 0 auto 60px
			max-width 493px
			width 100%
			border-bottom 1px solid #DBDBDB
			padding-bottom 40px
			aside
				width 100%
				display block
				box-sizing border-box
				vertical-align top
				height 400px
				margin-bottom 20px
				iframe
					width 100%
					height 100%
			article
				display block
				vertical-align top
			header
				margin-bottom 10px
			h2
				font-size 40px
			footer
				margin-top 30px
