html,body{height:100%}
body{font-family:'Source Sans Pro';font-weight:400;color:#333}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi){body{font-weight:200}
}a{color:#4987d5;text-decoration:none}
.site{min-height:100%;border-top:3px solid #333;padding-bottom:30px;box-sizing:border-box;position:relative}
.site > footer{height:30px;position:fixed;bottom:0;width:100%;background:#333;text-align:center;font-size:12px;color:#aaa;box-sizing:border-box;padding-top:10px;font-weight:normal;}
.site > footer a{color:#4987d5;text-decoration:none;}
.site > footer a:hover{text-decoration:underline}
header.main{font-size:15px;width:100%;position:relative;margin:0 auto;display:-webkit-flex;display:flex;text-align:center;}
header.main h1{font-weight:normal}
header.main nav li{display:inline-block;}
header.main nav li a{font-weight:normal}
.logo{display:inline-block}
#content > section h2{font-weight:200;font-style:italic}
#content > section{padding:0 20px;box-sizing:border-box}
#designs .details{display:none}
#designs ul{list-style:none;display:-webkit-flex;display:flex;-webkit-flex-wrap:wrap;flex-wrap:wrap;align-items:center;-webkit-align-items:center;justify-content:center;-webkit-justify-content:center}
#designs li{display:inline-block;position:relative}
#design{position:relative;text-align:center;}
#design aside{position:relative;display:inline-block;margin-bottom:20px}
#design header,#design .description{margin-bottom:20px;text-align:left}
#design ul.gallery{list-style:none;text-align:center;}
#design ul.gallery li{display:inline-block;}
#design ul.gallery li a{margin:5px;display:block;width:100px;height:100px;background-size:cover;background-position:center}
#code ul{list-style:none;display:flex;flex-wrap:wrap;-webkit-flex-wrap:wrap;}
#code ul li{display:inline-block;padding:20px 30px;box-sizing:border-box;}
#code ul li a{color:#4987d5;text-decoration:none;font-weight:200;font-size:30px;font-style:italic;}
#code ul li a:hover{text-decoration:underline}
#code header{margin-bottom:5px}
#code .description{margin-bottom:5px}
#code .updated{font-size:12px}
#speak .session{position:relative;margin:0 auto 60px;max-width:493px;width:100%;border-bottom:1px solid #dbdbdb;padding-bottom:40px;}
#speak .session:last-child{border-bottom:none}
#speak .session aside{display:block;position:relative;padding-bottom:76%;padding-top:25px;height:0;margin-bottom:20px;}
#speak .session aside iframe{position:absolute;top:0;left:0;width:100%;height:100%}
#speak .session article{display:block;vertical-align:top}
#speak .session header{margin-bottom:10px}
#speak .session h2{font-size:40px}
#speak .session footer{margin-top:30px}
@media only screen and (max-width: 619px){header.main{max-width:760px;padding:30px 0 0;flex-direction:column;-webkit-flex-direction:column;}
header.main h1{font-weight:normal;padding-top:10px}
header.main nav{padding:10px 0;margin:10px 0;background:#f5f5f5;}
header.main nav li{display:inline-block;margin:0 10px;}
header.main nav li a{font-weight:normal}
#content > section h2{font-size:40px}
#content > section{padding:30px 20px}
#designs li{margin:10px}
#design{padding:50px 20px}
#code li{width:100%}
}@media only screen and (min-width: 620px){a:hover{text-decoration:underline}
a.logo:hover #gpath{fill:#4987d5}
#content > section h2{font-size:60px}
#content{max-width:800px;position:relative;margin:0 auto;padding:60px 0}
a.logo{order:2;-webkit-order:2;min-width:43px}
header.main{max-width:800px;padding:55px 20px 0;width:auto;box-sizing:border-box;}
header.main h1{padding-top:7px;font-weight:200;order:1;-webkit-order:1;width:100%;text-align:left}
header.main nav{padding-top:7px;order:3;-webkit-order:3;width:100%;text-align:right;}
header.main nav li{margin:0 0 0 30px;margin-left:30px;}
header.main nav li:first-child{margin-left:0}
header.main nav li a{text-decoration:none;color:#333;font-weight:200;}
header.main nav li a:hover{border-bottom:1px solid #4987d5}
header.main nav li a.selected{color:#4987d5}
#designs{margin-top:-20px;}
#designs .details{display:none;position:absolute;width:100%;height:100%;top:0;left:0;background:rgba(255,255,255,0.85);line-height:32px}
#designs h3{font-weight:400;position:absolute;bottom:0;left:0;padding:20px;font-size:36px}
#designs li{margin:20px;}
#designs li a{display:block;position:relative;color:#333;text-align:left;}
#designs li a:hover .details{display:block}
section#design{padding-left:242px;text-align:left;display:border-box;}
section#design aside{position:absolute;left:20px;top:0;display:block}
section#design ul.gallery{text-align:left;}
section#design ul.gallery li a{transition:width .05s ease-in-out,height .05s ease-in-out,margin .05s ease-in-out;-moz-transition:width .05s ease-in-out,height .05s ease-in-out,margin .05s ease-in-out;-webkit-transition:width .05s ease-in-out,height .05s ease-in-out,margin .05s ease-in-out;-o-transition:width .05s ease-in-out,height .05s ease-in-out,margin .05s ease-in-out;}
section#design ul.gallery li a:hover{width:110px;height:110px;margin:0}
#code li{width:50%}
}