!!! 5
%html
	%head
		%meta{:charset => 'utf-8'}
		%meta{'http-equiv' => 'X-UA-Compatible', :content => 'IE=edge,chrome=1'}
		%title GarthDB | Articles
		%link{:rel => 'stylesheet', :type => 'text/css', :href => '../css/reset.css'}
		%link{:rel => 'stylesheet', :type => 'text/css', :href => 'css/main.css'}
	%body
		%header
		%article
			%header
				%h1 How to Care for Your Developer
			#content
			%footer
		%footer