@import 'edmondsans.styl'
@import 'opensans.styl'
body
  font-family: "opensans", san-serif;
  -webkit-font-smoothing: antialiased;
  transition background-color .25s ease-out
#wrapper.mobile
  position absolute
  z-index 1
  top 0
  bottom 0
  left 0
  right 0
  overflow hidden
#scroller.mobile
  position absolute
  z-index 1
  -webkit-tap-highlight-color rgba(0,0,0,0)
  width 100%
  transform translateZ(0)
  -webkit-touch-callout none
  user-select none
  text-size-adjust none

header.main
  width 100%
  height 600px
  background url('/img/hidden_lake.jpg') #0071BC
  background-size cover
  position relative
  box-sizing border-box
  padding 30px 20px 20px
  .bounds
    display flex
    flex-direction column
    align-items center
    justify-content space-between
    .top
      width 100%
      height 30px
    .bottom
      display flex
      width 100%
      max-width 500px
      justify-content space-between
      align-items center
      padding-bottom 50px
      svg
        cursor pointer
.logo
  color rgba(255,255,255,0.7)
  font-size 18px
  font-weight 500
  &:before
    position relative
    content url('/img/logo.svg')
    margin-right 7px
    top 1px
.bounds
  width 100%
  height 100%
  max-width 960px
  position relative
  margin 0 auto
.hamburger
  width 28px
  height 28px
  background url('/img/hamburger.svg') no-repeat
  position absolute
  right 0px
  top -10px
  a
    display block
    width 100%
    height 100%
.tada
  text-align center
  color rgba(255,255,255,0.9)
  h1
    font-weight 700
    font-size 36px
    line-height 34px
    margin-bottom 5px
  h2
    font-weight 500
    font-size 18px
    line-height 20px
section
  min-height 100vh
  color white
  font-size 30px
  .bounds
    height 100vh
    box-sizing border-box
    padding 30px
  svg
    position absolute
    z-index 1
    top 50%
    margin-top -250px
  h2
    font-size 60px
    margin-bottom 80px
  .content
    position absolute
    z-index 2
  a
    text-decoration none
    &:hover
      text-decoration underline
body.top
  background white
body.max
  background #f45358
body.converge
  background #00B5B5
body.allthings
  background #F78409
#max
  width 300px
  height 500px
#converge
  width 520px
  height 300px
section.max
  h2
    margin-bottom 80px
  .content
    margin-left 200px
    top 50%
    margin-top -180px
section.converge
  .content
    margin-left 0
    top 50%
    margin-top -250px
section.converge
  .content
    margin-left 0
    top 50%
    margin-top -250px
section.allthings
  .content
    margin-left 0
    top 50%
    margin-top -250px
#converge, #allthings
  width 500px
  height 500px
