@import 'edmondsans.styl'
@import 'opensans.styl'
body
  font-family: "opensans", san-serif;
  -webkit-font-smoothing: antialiased;
  transition background-color .25s ease-out
header.main
  width 100%
  height 600px
  background url('/img/hidden_lake.jpg') #0071BC
  background-size cover
  position relative
  box-sizing border-box
  padding 30px 20px 20px
  .bounds
    display flex
    flex-direction column
    align-items center
    justify-content space-between
    .top
      width 100%
      height 30px
    .bottom
      display flex
      width 100%
      max-width 500px
      justify-content space-between
      padding-bottom 50px
.logo
  color rgba(255,255,255,0.7)
  font-size 18px
  font-weight 500
  &:before
    position relative
    content url('/img/logo.svg')
    margin-right 7px
    top 1px
.bounds
  width 100%
  height 100%
  max-width 960px
  position relative
  margin 0 auto
.hamburger
  width 28px
  height 28px
  background url('/img/hamburger.svg') no-repeat
  position absolute
  right 0px
  top -10px
  a
    display block
    width 100%
    height 100%
.tada
  text-align center
  color rgba(255,255,255,0.9)
  h1
    font-weight 700
    font-size 36px
    line-height 34px
    margin-bottom 5px
  h2
    font-weight 500
    font-size 18px
    line-height 20px
section
  box-sizing border-box
  padding 30px
  min-height 100vh
body.top
  background white
body.max
  background #f45358
body.convergerva
  background #00B5B5
body.allthingsopen
  background #F78409
#max, #convergerva, #allthings
  width 500px
  height 500px
