doctype html
head
  title Garth Braithwaite
  link(rel="stylesheet", href='css/main.css')
  script(src='//cdnjs.cloudflare.com/ajax/libs/snap.svg/0.3.0/snap.svg-min.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/zepto/1.1.4/zepto.min.js')
  script(src='js/main.js')
body
  #max
