doctype html
head
  title Garth Braithwaite
  meta(name="viewport", content="width=device-width, initial-scale=1.0, minimal-ui")
  link(rel="stylesheet", href='css/main.css')
  link(rel="stylesheet", href='css/reset.css')
  script(src='//cdnjs.cloudflare.com/ajax/libs/mobile-detect/0.4.0/mobile-detect.min.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/snap.svg/0.3.0/snap.svg-min.js')
  script(src='js/bundle.js')
  script(src='js/vminpoly/tokenizer.js')
  script(src='js/vminpoly/parser.js')
  script(src='js/vminpoly/vminpoly.js')
body
  #wrapper
    #scroller
      header.main
        .bounds
          .top
            .logo Garth Braithwaite
            .hamburger
              a(href="http://www.fiveguys.com/order-online.aspx", target="_blank", title="get a hamburger")
          .main
            .tada
              h1 I’m speaking at<br/>some conferences
              h2 about design and open source.
              h2 Come to my sessions; </br>I'll bring donuts.
          .bottom
            include ../public/img/ca_map.svg
            include ../public/img/va_map.svg
            include ../public/img/nc_map.svg
      main
        section.max
          .bounds
            svg#max
              defs
            h2 Collaborative Design in the Open
            .details(itemscope, itemtype="http://schema.org/Event")
              .title(itemprop="name") Adobe MAX
              .time(itemprop="startDate", datetime="2014-10-07T08:30") Oct 7, 2014
              .location(itemprop="location", itemscope, itemtype="http://schema.org/Place")
                span(itemprop="name") Los Angeles, CA
              .link
                a(href="https://www.adobe-max.com/connect/sessionDetail.ww?SESSION_ID=2708", itemprop="description") Details
        section.convergerva
          .bounds
            svg#convergerva
              defs
            h2 Designers Can Open Source
            .details(itemscope, itemtype="http://schema.org/Event")
              .title(itemprop="name") ConvergeRVA
              .time(itemprop="startDate", datetime="2014-10-10T09:00") Oct 10, 2014
              .location(itemprop="location", itemscope, itemtype="http://schema.org/Place")
                span(itemprop="name") Richmond, VA
              .link
                a(href="http://convergerva.com/speakers.php#garth-braithwaite", itemprop="description") Details
        section.allthingsopen
          .bounds
            svg#allthingsopen
              defs
            h2 Open Source Needs Design
            .details(itemscope, itemtype="http://schema.org/Event")
              .title(itemprop="name") All Things Open
              .time(itemprop="startDate", datetime="2014-10-22T11:15") Oct 22, 2014
              .location(itemprop="location", itemscope, itemtype="http://schema.org/Place")
                span(itemprop="name") Raleigh, NC
              .link
                a(href="http://allthingsopen.org/talks/designers-can-open-source/", itemprop="description") Details
